*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.form-footer{
    width: 100%;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('./background.jpg');
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
}

form{
    position: absolute;
    width:590px;
    height:500px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 50px;
    border: 2px solid rgba(0,0,0);
    border-radius: 30px;

}



form h1{
    text-align: center;
    font-size: 45px;
    width:100%;
}

form input{
    border: none;
    background: transparent;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    background: transparent;
}

form button{
    width:90px;
    height:50px;
    font-size: 20px;
    border-radius: 30px;
    background: green;
    color:#fff;
    margin-left: 10px;
}

@media only screen and (max-width:480px){

    .form-footer{
        width: 480px;
        height: 100vh;
    }
    form{
        position: absolute;
        width:220px;
        height:400px;
        display: flex;
        flex-direction: column;
        margin-left:20px;
        margin-right: 0px;
    }

    form h1{
        font-size: 9px;
        text-align: center;
    }

    form input{
        font-size: 5px;
    }
}




